	<!-- About -->

<div class="about">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- About Content -->
            <div class="col-lg-7">
                <div class="about_content">
                    <div class="section_title"><h2>Sức khỏe là vàng, y đức là trọng tâm</h2></div>
                    <div class="about_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum. Nulla ut molestie augue, scelerisque consectetur quam. Dolor sit amet, consectetur adipiscing elit. Cura bitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellentesque in luctus ex.</p>
                    </div>
                    <div class="button about_button">
                        <a href="#">Đặt Hẹn Ngay</a>
                    </div>
                </div>
            </div>

            <!-- About Image -->
            <div class="col-lg-5">
                <div class="about_image"><img src="~/Style_template/images/about.png" alt=""></div>
            </div>
        </div>
    </div>
</div>


